.results {
  max-width: 500px;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "IBM Plex Serif", serif, Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
