.book {
  /* height: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  margin: auto;
  max-width: 1024px;
}

@media screen and (max-width: 550px){
  .book {
    padding-top: 10px;
  }
}
