.footer__caption {
  font-family: 'IBM Plex Serif', serif, Arial;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}

@media screen and (max-width: 370px){
  .footer__caption {
    font-size: 12px;
  }
}
