.footer {
  min-height: 40px;
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid #2196f3;
  font-family: "IBM Plex Serif", serif, Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffff;
}

@media screen and (max-width: 370px) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
}
