.navBar {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  font-family: "IBM Plex Serif", serif, Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
}

@media screen and (max-width: 400px) {
  .navBar  {
    justify-content: center;
    padding-top: 10px;
  }
}

@media screen and (max-width: 325px) {
  .navBar  {
    font-size: 12px;
  }
}
