.header {
  max-width: 1024px;
  padding: 0;
  margin: 10px auto;
  box-sizing: border-box;
  font-family: "IBM Plex Serif", serif, Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  background-color: #ffff;
}

@media screen and (max-width: 450px) {
  .header {
    justify-content: center;
  }
}
